@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Allura&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cinzel:wght@400..900&display=swap');

@font-face {
  font-family: "Aboreto";
  src: url("./fonts/Aboreto-Regular.ttf");
}

@font-face {
  font-family: "Bodoni Moda";
  src: url("./fonts/BodoniModa_72pt-Regular.ttf");
}

@font-face {
  font-family: "Allura";
  src: url("./fonts/Allura-Regular.ttf");
}

@font-face {
  font-family: "Big Shoulders Display";
  src: url("./fonts/BigShouldersDisplay-VariableFont_wght.ttf");
}


*{
  padding: 0;
  margin: 0;
  transition: background-color 0.3s ease;
}
::-webkit-scrollbar {
  display: none;
}
body{
  background-color: #181C14;
}